.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1065%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1066)'%3e%3c/rect%3e%3cpath d='M925.5687599133067 156.5028344040157L911.9669131645587 59.720665879464235 773.5945837521055 128.51452026486197z' fill='rgba(68%2c 242%2c 79%2c 0.37)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M199.9 176.55 a132.07 132.07 0 1 0 264.14 0 a132.07 132.07 0 1 0 -264.14 0z' fill='rgba(68%2c 242%2c 79%2c 0.37)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M156.10335917345827 534.9916327832342L109.08685845775558 476.9310897391847 45.50429424953276 576.4861123347634z' fill='rgba(68%2c 242%2c 79%2c 0.37)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M112.28 226.18 a184.27 184.27 0 1 0 368.54 0 a184.27 184.27 0 1 0 -368.54 0z' fill='rgba(68%2c 242%2c 79%2c 0.37)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M393.7468750542918 184.55683684328562L294.1665442496488 299.1109033815641 408.7206107879273 398.69123418620717 508.3009415925703 284.13716764792866z' fill='rgba(68%2c 242%2c 79%2c 0.37)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1065'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1066'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(13%2c 13%2c 13%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    border-radius: 2rem;

    h1, h2, h3 {
        color: #FFF;
    }
}

.app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: 4rem 2rem 2rem;

    .app__footer-card {
        min-width: 290px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 1rem 0;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--primary-color);

        transition: all 0.3s ease-in-out;

        img {
            width: 40px;
            height: 40px;

            margin: 0 0.8rem;
        }

        p {
            font-weight: 800;
        }

        a {
            text-decoration: none;
            font-weight: 600;
        }

        &:hover {
            box-shadow: 10px 10px 0 #44F24F5E;
        }

        @media screen and (max-width: 450px) {
            width: 100%;
        }

        @media screen and (max-width: 780px) {
            width: 100%;
        }
    }
}

.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;

    div {
        width: 100%;

        margin: 1rem 0;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--primary-color);

        transition: all 0.3s ease-in-out;

        input, textarea {
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 8px;
            background-color: var(--primary-color);

            font-family: var(--font-base);
            color: var(--secondary-color);

            outline: none;
        }

        textarea {
            height: 190px;
        }

        &:hover {
            box-shadow: 10px 10px 0 #44F24F5E;
        }
    }
}

.app__footer-button {

    padding: 1rem 2rem;
    border-radius: 15px;
    border: none;
    background-color: var(--secondary-color);

    font-weight: 600;
    color: white;
    outline: none;
    margin: 1.85 0 0 0;
    cursor: pointer;

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.9s;
      }

      span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -10px;
        transition: 0.5s;
      }

      &:hover span {
        padding-right: 25px;
      }

      &:hover span:after {
        opacity: 1;
        right: 0;
      }
  }
  
  
  .footer-text {
    color: #fff;
    margin-top: 2rem;
  }
  
  
  
  
  